* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(230, 230, 250, 0.5);
    margin: 0;
}

header {
    background-color: lavender;
    text-align: center;
    padding: 20px;
}

nav a {
    color: black;
    margin: 10px;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px;
}

article {
    background-color: white;
    padding: 20px;
}

.meine-liste {
    background-color: rgba(220, 210, 240, 0.5);
    padding: 20px 40px;
}

img {
    width: 300px;
    margin-top: 10px;
}

aside {
    background-color: lavender;
    padding: 15px;
    margin-top: 20px;
}